:root {
    --white-color: #fff;
    --background-color: #EFF1F5;
    --grey-color: #9ea9b7;
    --blue-color: #1773FF;
    --orage-color: #F26430;
    --green-color: #34C772;
    --red-color: #F54658;
    --purple-color: #B385F2;

    --default-offset: 1rem;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
}

/* TICKET LIST */

.list {
    align-items: center;
    display: flex;
    background-color: var(--background-color);
    flex-flow: column;
    height: 100%;
    padding: var(--default-offset);
    justify-content: flex-start;
    width: 100%;
}

.ticket {
    display: flex;
    background-color: var(--white-color);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    margin: var(--default-offset);
    width: 729px;
}

.ticket:hover {
    box-shadow: 0px 5px 15px #ccc;
}

.label__cheapest {
    background-color: var(--green-color);
    border-radius: 13px;
    color: var(--white-color);
    font-size: 13px;
    left: var(--default-offset);
    padding: 2px 8px;
    position: absolute;
    top: calc(-1 * 0.5 * var(--default-offset));
}

.label__fastest {
    background-color: var(--purple-color);
    border-radius: 13px;
    color: var(--white-color);
    font-size: 13px;
    left: var(--default-offset);
    padding: 2px 8px;
    position: absolute;
    top: calc(-1 * 0.5 * var(--default-offset));
}

/* LEFT */

.ticket__left {
    align-items: center;
    border-right: 2px solid var(--background-color);
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: var(--default-offset);
    width: 207px;
}

.cost {
    display: flex;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: var(--default-offset);
}

.take__ticket {
    background-color: var(--orage-color);
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    padding: var(--default-offset);
    width: 100%;
}

.take__ticket:hover {
    background-color: #e4501b;
}

.ticket__warning {
    color: var(--orage-color);
    display: flex;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin-top: 1em;
}

/* RIGHT */

.ticket__right {
    display: flex;
    height: 100%;
    flex: 1;
    flex-flow: column;
    padding: 0 var(--default-offset);
}

.right__header {
    display: flex;
    padding-top: var(--default-offset);
    justify-content: space-between;
}

.companies {
    align-items: center;
    display: flex;
}

.company__label {
    height: 36px;
    margin-right: 10px;
    width: 36px;
}

.company__label__img {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.right__header__icons {
    align-items: center;
    display: flex;
    flex-flow: row-reverse;
}

.share__ico {
    color: var(--grey-color);
    display: flex;
    height: 27px;
    width: 24px;
}

.share__ico:hover {
    color: var(--blue-color);
}

.bell__ico {
    color: var(--grey-color);
    display: flex;
    margin-right: 5px;
    margin-left: 15px;
    height: 24px;
    width: 24px;
    font-size: 24px;
}

.bell__ico:hover {
    color: var(--blue-color);
}

.bagage__ico,
.time__ico,
.night__ico {
    align-items: center;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    box-shadow: 0px 0px 4px var(--grey-color);
    color: var(--red-color);
    display: flex;
    height: 24px;
    margin-left: 5px;
    justify-content: center;
    width: 24px;
}

/* INFO */

.info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.from__minsk,
.to__minsk {
    display: flex;
    padding: var(--default-offset) 0;
    justify-content: space-between;
}

.info__left {
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.info__right {
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.time {
    font-size: 28px;
}

.info__text {
    color: var(--grey-color);
    font-size: 12px;
    font-weight: 400;
}

.line {
    background-color: var(--grey-color);
    display: flex;
    height: 1px;
    opacity: 0.5;
    width: 100%;
}

.info__middle {
    display: flex;
    flex: 1;
    padding: 0 var(--default-offset);
    padding-top: 5px;
    position: relative;
    justify-content: space-between;
}

.timeline {
    align-items: center;
    display: flex;
    position: absolute;
    margin-top: calc(2 * var(--default-offset));
    width: calc(100% - 2.3rem);
}


.from {
    align-items: flex-start;
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: space-between;
}

.to {
    align-items: flex-end;
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: space-between;
}

.svo__line {
    border: 1px solid var(--white-color);
    border-radius: 3px;
    background-color: var(--grey-color);
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;
    max-height: 3px;
}

.svo__line::after {
    color: var(--blue-color);
    content: "SVO";
    display: flex;
    font-size: 10px;
    font-weight: 700;
    margin-left: 40%;
    margin-top: 0.9rem;
    justify-content: center;
}

.svo__line:hover::after {
    color: var(--orage-color);
}

.svo__line:hover {
    background-color: var(--orage-color);
}

.line15per {
    border: 1px solid var(--grey-color);
    border-radius: 3px;
    background-color: var(--grey-color);
    display: flex;
    height: 5px;
    width: 15%;
}

.line20per {
    border: 1px solid var(--grey-color);
    border-radius: 3px;
    background-color: var(--grey-color);
    display: flex;
    height: 5px;
    width: 20%;
}

.line30per {
    border: 1px solid var(--grey-color);
    border-radius: 3px;
    background-color: var(--grey-color);
    display: flex;
    height: 5px;
    width: 30%;
}

.line50per {
    border: 1px solid var(--grey-color);
    border-radius: 3px;
    background-color: var(--grey-color);
    display: flex;
    height: 5px;
    width: 50%;
}

.line60per {
    border: 1px solid var(--grey-color);
    border-radius: 3px;
    background-color: var(--grey-color);
    display: flex;
    height: 5px;
    width: 60%;
}

.line15per:hover,
.line20per:hover,
.line30per:hover,
.line50per:hover,
.line60per:hover {
    background-color: var(--white-color);
    border-color: var(--orage-color);
}

.plane__msq,
.plane__jfk {
    display: flex;
    color: var(--grey-color);
    flex-flow: column;
}

.plane__msq::after {
    color: var(--blue-color);
    content: "MSQ";
    font-size: 10px;
    font-weight: 700;
    margin-top: 1.4rem;
}

.plane__jfk::after {
    color: var(--blue-color);
    content: "JFK";
    font-size: 10px;
    font-weight: 700;
    margin-top: 1.4rem; 
}

.plane__msq:hover,
.plane__jfk:hover,
.plane__msq:hover::after,
.plane__jfk:hover::after {
    color: var(--orage-color);
}

.all__time {
    position: absolute;
    margin-left: 28%;
    margin-top: 0.3rem;
}



