:root {
    --black-color: black;
    --green-color: #11BF30;
    --grey-color: #bfbfbf;
    --white-color: white;

    --default-offset: 1rem;
    --header-height: 4rem;
    --footer-height: 1rem;
}

html, 
body {
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}


/* HEADER */

header {
    background-color: var(--black-color);
    height: var(--header-height);
    width: 100%;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.white__logo {
    padding: 0 var(--default-offset);
}

.black__logo {
    display: none;
}

.header__right {
    display: flex;
    justify-content: space-around;
    width: 264px;
}

.sign__up {
    background-color: var(--black-color);
    border-color: var(--green-color);
    border-radius: 5px;
    color: var(--green-color);
    padding: 0.5rem 1rem;

    font-weight: 600;
}

.sign__up:hover {
    opacity: 0.9;
}

.log__in {
    background-color: var(--green-color);
    border: var(--green-color);
    border-radius: 5px;
    color: var(--white-color);
    padding: 0.5rem 1rem;

    font-weight: 600;
}

.log__in:hover {
    opacity: 0.9;
}



/* MAIN */

main {
    display: flex;
    height: calc(100% - (var(--header-height) + var(--footer-height)));
    overflow-y: auto;
}

nav {
    min-width: 264px;   
}

aside {
    min-width: 264px;
}



/* SECTION */
section {
    width: 100%;
    word-wrap: break-word;
}

.filters {
    display: flex;
}

.filters__header {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    padding: var(--default-offset) 0;
    margin: 0;
}

.active__filters {
    display: flex;
    flex-flow: wrap;
    padding: 0 var(--default-offset);
}

.active__filter {
    align-items: center;
    border: 1px var(--black-color);
    border-radius: 5px;
    border-style: outset;
    display: flex;
    padding: 0 0.5rem;
    margin: 1px;
}

.space {
    align-items: start;
    display: flex;
    padding: var(--default-offset) 0;
    justify-content: space-between;
    width: 100%;
} 

.filter__buttons {
    display: flex;
}

.arrow__down {
    border: none;
    background-color: var(--white-color);
    display: flex;
    font-size: 2rem;
}

.arrow__down:hover {
    background-color: var(--grey-color);
    opacity: 0.7;
}

.filters__reset {
    border: none;
    background-color: var(--white-color);
    display: flex;
    font-size: 2rem; 
}

.filters__reset:hover {
    background-color: var(--grey-color);
    opacity: 0.7;  
}


/* FOOTER */
footer {
    background-color: var(--white-color);
    height: var(--footer-height);
    width: 100%;
}

.footer {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;

    font-weight: 200;
    font-size: 14px;
}

.main__panel {
    display: none;
}

@media (max-width: 700px) {
    /* HEADER */
    header {
        background-color: var(--white-color);
        z-index: 1;
    }
    
    .header {
        justify-content: center;
    }

    .white__logo {
        display: none;
    }
    .black__logo {
        display: block;
    }

    .header__right {
        display: none;
    }
    
    /* MAIN */
    main {
        height: calc(100% - (2 * 4rem + 1rem));
        padding: var(--default-offset);
    }

    nav {
        min-width: 0%;
    }

    aside {
        min-width: 0%;
    }

    .active__filters {
        display: block;
    }

    .active__filter {
        justify-content: center;
    }

    /* FOOTER */
    .main__panel {
        align-items: center;
        display: flex;
        height: var(--header-height);
        justify-content: space-around;
        
        font-size: 2rem;
    }

    .panel__item {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: calc(100% / 3);
    }

    .panel__item:hover {
        background-color: var(--grey-color);
        opacity: 0.7;
    }

}